.recipe-header-b.cf
	.recipe-preview-e
	.header-be(contenteditable="<%= (isEditMode) %>") 			#{ '<%= header %>' }
	.description-be(contenteditable="<%= (isEditMode) %>")  #{ '<%= description %>' }
	.ago-be 				by 
		a(href="#", class="is-hoverable", contenteditable="<%= (isEditMode) %>") #{ '<%= author %>' }
		i ,  
		i(contenteditable="<%= (isEditMode) %>") #{ '<%= ago %>' }

.recipe-body-b
	.text-bl(contenteditable="<%= (isEditMode) %>", id="js-body") !{ '<%= text %>' }

.side-icons-l
	.timer-b
		.text-be #{ '<%= "52\'" %>' }
		- var data = { path: 'timer-icon' }
		include ../css/partials/icon

	- var data = { className: 'is-hoverable', idAttribute: 'js-edit', path: 'pen-icon' }
	include ../css/partials/icon

	- var data = { className: 'is-hoverable', idAttribute: 'js-remove', path: 'trash-icon' }
	include ../css/partials/icon

	- var data = { className: 'is-hoverable', idAttribute: 'js-versions', path: 'time-machine-icon' }
	include ../css/partials/icon


.cf
	.btn-b.is-grey10#js-cancel Cancel
	.btn-b#js-save   Save

